*.md
!values_guide.md
Документы для практики/
# Основные временные файлы LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# Файлы библиографии (Biber/BibTeX)
*.bbl
*.bcf
*.blg
*.run.xml

# Прочие, временно?
Program_files/
*.pdf
!tex/main.pdf
/program_files_test.zip
/tex.zip
__pycache__/
*.pyc
*.pyo
legacy/
*.zip